# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# build
dist/
build/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem
Thumbs.db

# editor
.idea/
.vscode/
*.swp
*.swo

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# testing
coverage/

# temp
tmp/
temp/

# nexu indexed data
.nexu/
